.square
{
    width: 100px;
    height: 100px;
    background: red;
    padding: 20px;
    border: 5px solid black;
    
}
.imgajen
{
   padding: 30px;
   background: black;
    border-radius: 20px;
    width: 100px;
    margin-left: 50%;
    box-shadow: black 5px 5px 5px;
}
 .imgajen img
 {
    width: 100px;
    height: 100px;
 } 