body
{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
    height: 100vh;
    background-image: radial-gradient(circle, purple,black);
}



.grid-container
{
    padding: 1rem;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color:black;
}
.grid-item
{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    font-size: 2rem;
}
.nested
{
    display: grid;
    /* a los items del 1 al 6 le daremos columna de tres de 1 fraccion osea solo se modificará los div que contengan 
    los numeros del 1 al 6 usando este grid anidado osea meter un grid dentro de otro grid */
    grid-template-columns: repeat(3,1fr);
}