@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u6qbdk');
  src:  url('../fonts/icomoon.eot?u6qbdk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u6qbdk') format('truetype'),
    url('../fonts/icomoon.woff?u6qbdk') format('woff'),
    url('../fonts/icomoon.svg?u6qbdk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e900";
}
.icon-suitcase:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
